<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Price check Eve Online items from Cargo Scans, Contracts, D-Scan, EFT, Inventory, Asset listing, Loot History, PI, Survey Scanner, Killmails, Wallet TransactionsBlocks, Inventory, Assets">

    <link rel="icon" href="/static/favicon.ico">

    <title>{{template "title" .}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/thirdparty/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/thirdparty/cyborg.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">

    <script src="/static/thirdparty/jquery-3.2.1.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Evepraisal</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" action="/search" method="GET" role="search">
              <div class="form-group">
                <input type="text" class="form-control typeahead" id="search" name="q" placeholder="Item Name...">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/latest">Latest</a></li>
              <li><a href="/help">Help</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      {{template "content" .}}

    </div> <!-- /container -->

    <div class="text-center">
      {{template "ad-block"}}
    </div>
    <hr />
    <div class="container-fluid text-center">
      <p>
        All <a href="/legal">Eve Related Materials</a> are property of CCP Games. See <a href="/legal">Legal Notice</a>. <br /><a href="https://github.com/evepraisal/go-evepraisal" target="_blank">Source on github</a> | <a href="https://github.com/evepraisal/go-evepraisal/issues" target="_blank">Report an Issue</a> | <a href="http://status.evepraisal.com/" target="_blank">Status</a>
      </p>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/thirdparty/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/thirdparty/jquery.tablesorter.min.js"></script>
    <script src="/static/thirdparty/typeahead.js/typeahead.bundle.min.js"></script>

    <script type="text/javascript">
    $(function() {
      var searchAutocomplete = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          url: '/search.json?q=%QUERY',
          wildcard: '%QUERY'
        }
      });

      $('.typeahead').typeahead({
          minLength: 2,
        },
        {
          display: 'name',
          source: searchAutocomplete,
          templates: {
            suggestion: function(suggestion) { return '<div><img class="media-image" src="https://image.eveonline.com/Type/'+ suggestion.id +'_32.png" alt="' + suggestion.name + '" />' +' '+ suggestion.name + '</div>'; }
          },
      });

      $('.typeahead').bind('typeahead:select', function(event, suggestion) {
        window.location.href = "/item/"+ suggestion.id;
        event.preventDefault()
      });
    });
    </script>

    {{template "extra-javascript"}}

  </body>
</html>
