<div class="panel panel-default form-group">
  <div class="panel-heading">Quick Estimate</div>
  <form action="/appraisal" method="POST">
    <div class="panel-body">
      <div class="form-group">
       <textarea class="form-control" id="raw_textarea" name="raw_textarea" rows="10" placeholder="paste stuff to evaluate here. protip: ctrl+a, ctrl+c, ctrl+v"></textarea>
      </div>
      <div class="clearfix pull-right">
        <div class="form-inline">
          <select id="market" name="market" class="form-control">
          {{range $market := .UI.Markets}}
            <option value="{{$market.Name}}" {{if eq $.UI.SelectedMarket $market.Name }}selected{{end}}>{{$market.DisplayName}}</option>
          {{end}}
          </select>
          <button type="reset" class="btn">Reset</button>
          <input type="submit" class="btn btn-primary" href="submit" role="button" value="Submit &raquo;" />
        </div>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
$("body").bind("paste", function(e){
    console.log();
    if ( !$(e.originalEvent.target).is( "input" ) ) {
      $("textarea#raw_textarea").val(e.originalEvent.clipboardData.getData('text'));
    }
} );
</script>
