<div class="panel panel-default form-group">
  <form id="appraisalform" action="/appraisal" method="POST" enctype="multipart/form-data">
  <div class="panel-heading">
    Quick Estimate
    <span class="pull-right fileUpload glyphicon glyphicon-upload">
      <input type="file" name="uploadappraisal" id="uploadappraisal" class="upload" />
    </span>
  </div>
  <div class="panel-body">
    <div class="form-group">
     <textarea class="form-control" id="raw_textarea" name="raw_textarea" rows="6" placeholder="paste stuff to evaluate here. protip: ctrl+a, ctrl+c, ctrl+v">{{.UI.RawTextAreaDefault}}</textarea>
    </div>
    <div class="clearfix pull-right">
      <div class="form-inline">
        {{if .UI.User}}
        <select id="visibility" name="visibility" class="form-control">
        {{range $visibility := .UI.Visibilities}}
          <option value="{{$visibility.Name}}" {{if eq $.UI.SelectedVisibility $visibility.Name }}selected{{end}}>{{$visibility.DisplayName}}</option>
        {{end}}
        </select>
        {{end}}
        <select id="market" name="market" class="form-control">
        {{range $market := .UI.Markets}}
          <option value="{{$market.Name}}" {{if eq $.UI.SelectedMarket $market.Name }}selected{{end}}>{{$market.DisplayName}}</option>
        {{end}}
        </select>
        <button type="reset" class="btn">Reset</button>
        <input type="submit" class="btn btn-primary" href="submit" role="button" value="Submit &raquo;" />
      </div>
    </div>
  </div>
  </form>
</div>

<script type="text/javascript">
$("body").bind("paste", function(e){
    if ( !$(e.originalEvent.target).is( "input" ) && !$(e.originalEvent.target).is( "textarea" ) ) {
      $("textarea#raw_textarea").val(e.originalEvent.clipboardData.getData('text'));
    }
});

$("#uploadappraisal").change(function(e){
  $('#appraisalform').submit();
});
</script>
