<div class="col-md-8">
  <div class="media">
    <img class="align-self-center mr-3" src="https://imageserver.eveonline.com/Type/{{.Page.Type.ID}}_64.png" alt="{{.Page.Type.Name}}">
    <div class="d-flex flex-column justify-content media-body">
      <h4>{{.Page.Type.Name}}</h4>
      <span class="float-right">
        <a role="button" class="btn btn-dark btn-sm" href="https://evemarketer.com/types/{{.Page.Type.ID}}/" target="_blank"> EVEMarketer</a></button>
        <a role="button" class="btn btn-dark btn-sm" href="https://eveinfo.com/item/{{.Page.Type.ID}}" target="_blank"> Eve Info</a></button>
        <a role="button" class="btn btn-dark btn-sm" href="/item/{{.Page.Type.ID}}.json" target="_blank"><span class="fas fa-chevron-right"></span> JSON</a></button>
      </span>
    </div>
  </div>
</div>
<div class="col-md-4">
  <table class="table table-sm table-condensed table-striped">
    <tr>
      <th>ID</th>
      <td>{{.Page.Type.ID}}</td>
    </tr>
    <tr>
      <th>Group ID</th>
      <td>{{.Page.Type.GroupID}}</td>
    </tr>
    {{if .Page.Type.MarketGroupID}}
    <tr>
      <th>Market Group ID</th>
      <td>{{.Page.Type.MarketGroupID}}</td>
    </tr>
    {{end}}
    <tr>
      <th>Volume</th>
      <td>{{humanizeVolume .Page.Type.Volume}} m<sup>3</sup></td>
    </tr>
    {{if .Page.Type.PackagedVolume}}
    <tr>
      <th>Packaged Volume</th>
      <td>{{humanizeVolume .Page.Type.PackagedVolume}} m<sup>3</sup></td>
    </tr>
    {{end}}
  </table>
</div>
