<div class="row">
  <h4>Market Pricing</h4>
  <p>Evepraisal looks at a recent (around 5 minute delayed) market orders to estimate prices for items. For <strong>sell orders</strong> the minimum value is used because that is the lowest price that you can get if you purchase items from a sell order. For <strong>buy orders</strong> the maximum value is used because that is the highest price that you can get when selling items to a buy order. The market price for this item was last updated {{relativetime .Prices.Updated}}.</p>
  {{template "_view_item_market_table.html" .}}
</div>
