<div class="media">
  <div class="media-body">
    <h4 class="mt-0">
      <img class="media-image" src="https://image.eveonline.com/Type/{{.Page.Type.ID}}_64.png" alt="{{.Page.Type.Name}}" /> {{.Page.Type.Name}}

      <small>
        | <a href="https://element-43.com/market/{{.Page.Type.ID}}/" target="_blank">Element 43</a>
        | <a href="https://eveinfo.com/item/{{.Page.Type.ID}}" target="_blank">Eve Info</a>
        | <a href="https://eve-central.com/home/quicklook.html?typeid={{.Page.Type.ID}}" target="_blank">Eve Central</a>
      </small>
    </h4>
  </div>
</div>
