<div class="row">
  <h4>Component Pricing</h4>
  <h5><span class="nowrap">{{ prettybignumber .Totals.Sell }} <small>estimated sell value</small></span>
    <span class="nowrap">{{ prettybignumber .Totals.Buy }} <small>estimated buy value</small></span></h5>
  <p>Because the market volume of this item is so low, the pricing is based on pricing of the materials needed to make it.</p>
  <table class="table table-sm table-condensed table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th class="text-right">Quantity</th>
        <th class="text-right">Market Volume</th>
        <th class="text-right">Single (sell)<br>Single (buy)</th>
        <th class="text-right">Total (sell)<br>Total (buy)</th>
      </tr>
    </thead>
    <tbody>
      {{range $i, $component := .Components}}
      <tr>
        <td>
          <a href="/item/{{$component.Type.ID}}">
            <img class="float-left media-object" src="https://imageserver.eveonline.com/Type/{{$component.Type.ID}}_32.png" alt="{{$component.Type.Name}}"></a>
          <a href="/item/{{$component.Type.ID}}">{{$component.Type.Name}}</a>
        </td>
        <td class="text-right">{{comma $component.Quantity}}</td>
        <td class="text-right">{{comma $component.Prices.All.Volume}}</td>
        <td class="text-right">{{commaf $component.Prices.Sell.Min}}<br />{{commaf $component.Prices.Buy.Max}}</td>
        <td class="text-right">{{commaf $component.Totals.Sell}}<br />{{commaf $component.Totals.Buy}}</td>
      </tr>
      {{end}}
    </tbody>
    <tfoot>
      <tr>
        <td class="text-center" colspan="5"><b>component price = ∑ (market-price(base-component) × quantity), …</b></td>
      </tr>
    </tfoot>
  </table>
</div>
