{{define "title"}}Evepraisal - About{{end}}
{{define "content"}}
<div class="col-lg-4">
  {{template "_paste-panel.html" .}}
</div>
<div class="col-lg-8">
  <h4>What is this?</h4>
  <p>This is a tool for Eve Online aimed at being able to quickly price check items in bulk. </p>

  <h4>Why would I use this?</h4>
  <p>You are looking for juicy targets and you scan a drake full of original blueprints that you weren't able to quickly see because you sorting through the tabacco, spirits, exotic dancers, T1 planetary commodities, livestock, garbage, scrap metal, and other random junk you're likely to find in the cargo hold. This tool will allow you to quickly see what's valuable and a rough estimate of how valueable everything is so the few seconds that you have to decide to commit won't be wasted messing messing around with eve's UI. You can use this to price check contracts before you commit to purchasing, see how expensive an awesome new fitting will be, determine your likely profit margins from manufacturing, and much more.</p>

  <h4>How are prices calculated?</h4>
  <p>Prices calculated from recent market data from Eve Online's ESI API. Capital ship prices are set by the sum of the base materials needed to make them.</p>

  <h4>Caveats/Known Issues</h4>
  <ul>
    <li>There's no reliable way to get prices of blueprint copies (BPCs). Due to this, evepraisal doesn't even try to guess a price for them.</li>
    <li>Non-english formats don't always work properly.</li>
  </ul>

  <h4>How do I contact you?</h4>
  <ul>
    <li>Send an in-game mail to: <a href="https://gate.eveonline.com/Profile/Magerawr" target="_blank">Magerawr</a></li>
    <li>Open an <a href="https://github.com/evepraisal/go-evepraisal/issues?state=open" target="_blank">issue on github</a></li>
    <li>Talk to <a href="https://tweetfleet.slack.com/messages/@sudorandom" target="_blank">@sudorandom</a> in the <a href="https://tweetfleet.slack.com/messages/C03CGPX82" target="_blank">#devfleet channel on the tweetfleet slack</a></li>
  </ul>
  <p>I get a lot of mail so I don't have the time to respond to everyone.</p>
</div>

{{end}}

{{template "_layout.html" .}}