{{define "title"}}Evepraisal - API Documentation{{end}}
{{define "description"}}Price check Eve Online items from Cargo Scans, Contracts, D-Scan, EFT, Inventory, Asset listing, Loot History, PI, Survey Scanner, Killmails, Wallet TransactionsBlocks, Inventory, Assets{{end}}

{{define "content"}}
<style>
pre {
    max-height: 200px;
}
</style>
<div class="col-lg-12">
  <h3>General guidelines</h3>
  <ul>
    <li>Please use this API responsibly. If you want to know the price of ALL ITEMS and are considering making a request for every single item please, please, please use the 'persist=no' query parameter. You can tell this works by the fact that the "id" field will no longer show in the result.</li>
    <li>Please add a "User-Agent" HTTP header that identifies your tool, service, etc. I will block clients that don't identify themselves enough for me to reach them if they are doing something that's abusive.</li>
    <li>If you have any questions with this where the limits are, contact me. <a href="/about">See the bottom of the about page to see how you can get ahold of me.</a></li>
  </ul>

  <h3>Get an Appraisal <small class="text-muted">GET /a/[appraisal-id].json</small></h3>
  <p>This endpoint returns the details for an appraisal in JSON format. The data includes everything needed to render the appraisal page. The most important part of the response is in the "totals" top-level key which includes the total buy price and sell price.</p>

  <h4>CURL Example</h4>
  <pre><code>curl "https://evepraisal.com/a/coyaw.json"</code></pre>

  <pre><code>{
    "created": 1505592961,
    "id": "coyaw",
    "items": [
        {
            "meta": {
                "bpc": false
            },
            "name": "avatar",
            "prices": {
                "all": {
                    "avg": 0,
                    "max": 64840457150.95,
                    "median": 64840457150.95,
                    "min": 64840457150.95,
                    "order_count": 0,
                    "percentile": 64840457150.95,
                    "stddev": 0,
                    "volume": 0
                },
                "buy": {
                    "avg": 0,
                    "max": 64840457150.95,
                    "median": 64840457150.95,
                    "min": 64840457150.95,
                    "order_count": 0,
                    "percentile": 64840457150.95,
                    "stddev": 0,
                    "volume": 0
                },
                "sell": {
                    "avg": 0,
                    "max": 64840457150.95,
                    "median": 64840457150.95,
                    "min": 64840457150.95,
                    "order_count": 0,
                    "percentile": 64840457150.95,
                    "stddev": 0,
                    "volume": 0
                },
                "strategy": "ccp",
                "updated": "2017-09-16T20:12:25.615722552Z"
            },
            "quantity": 1,
            "typeID": 11567,
            "typeName": "Avatar",
            "typeVolume": 10000000
        }
    ],
    "kind": "listing",
    "market_name": "jita",
    "raw": "avatar",
    "totals": {
        "buy": 64840457150.95,
        "sell": 64840457150.95,
        "volume": 10000000
    },
    "unparsed": {}
}
</code></pre>

  <h3>Create Appraisal <small class="text-muted">POST /appraisal/structured.json</small></h3>
  <p>This enpoint creates a new appraisal and returns the price data in JSON format.</p>

  <h4>CURL Example</h4>
  <pre><code>curl -XPOST "https://evepraisal.com/appraisal/structured.json" --data '{"market_name": "jita", "items": [{"name": "Rifter"}, {"type_id": 34}]}'</code></pre>

  <pre><code>{
    "appraisal": {
        "created": 1603934571,
        "items": [
            {
                "meta": {},
                "name": "Rifter",
                "prices": {
                    "all": {
                        "avg": 425135.29147805576,
                        "max": 2899000,
                        "median": 434000,
                        "min": 10210,
                        "order_count": 25,
                        "percentile": 560000,
                        "stddev": 168744.1130833041,
                        "volume": 554
                    },
                    "buy": {
                        "avg": 341622.44776817923,
                        "max": 451300,
                        "median": 416200,
                        "min": 10210,
                        "order_count": 12,
                        "percentile": 451300,
                        "stddev": 80502.83186350626,
                        "volume": 323
                    },
                    "sell": {
                        "avg": 577212.5309505196,
                        "max": 2899000,
                        "median": 559100,
                        "min": 558600,
                        "order_count": 13,
                        "percentile": 558600,
                        "stddev": 167899.35545500438,
                        "volume": 231
                    },
                    "strategy": "orders",
                    "updated": "2020-10-29T01:18:14.941116237Z"
                },
                "quantity": 1,
                "typeID": 587,
                "typeName": "Rifter",
                "typeVolume": 2500
            },
            {
                "meta": {},
                "name": "",
                "prices": {
                    "all": {
                        "avg": 5.127115278624414,
                        "max": 9998,
                        "median": 9.83,
                        "min": 0.01,
                        "order_count": 173,
                        "percentile": 14.18,
                        "stddev": 103.65841794616796,
                        "volume": 11486932925
                    },
                    "buy": {
                        "avg": 0.1077433860746228,
                        "max": 7.87,
                        "median": 0.01,
                        "min": 0.01,
                        "order_count": 21,
                        "percentile": 7.78,
                        "stddev": 3.232129715938109,
                        "volume": 1802680289
                    },
                    "sell": {
                        "avg": 10.522742318531256,
                        "max": 9998,
                        "median": 10,
                        "min": 8.74,
                        "order_count": 152,
                        "percentile": 8.74,
                        "stddev": 112.8195790348922,
                        "volume": 9684252636
                    },
                    "strategy": "orders",
                    "updated": "2020-10-29T01:18:14.941116237Z"
                },
                "quantity": 1,
                "typeID": 34,
                "typeName": "Tritanium",
                "typeVolume": 0.01
            }
        ],
        "kind": "structured",
        "live": false,
        "market_name": "jita",
        "private": false,
        "raw": "",
        "totals": {
            "buy": 451307.87,
            "sell": 558608.74,
            "volume": 2500.01
        },
        "unparsed": null
    }
}</code></pre>
</div>

{{end}}

{{template "_layout.html" .}}