{{define "title"}}Evepraisal - About{{end}}

{{define "content"}}
<style>
pre {
    max-height: 200px;
}
</style>
<div class="col-lg-12">
  <h3>General guidelines</h3>
  <ul>
    <li>Please use this API responsibly. Please don't create a system that creates hundreds of appraisals per minute. If you have any questions with this where the limits are, contact me. <a href="/about">See the bottom of the about page to see how you can get ahold of me.</a></li>
    <li>Please add a "User-Agent" HTTP header that identifies your tool, service, etc. I will block clients that don't identify themselves enough for me to reach them if they are doing something that's abusive.</li>
  </ul>

  <h3>Get an Appraisal <span class="badge badge-primary">GET /a/[appraisal-id].json</span></h3>
  <p>This endpoint returns the details for an appraisal in JSON format. The data includes everything needed to render the appraisal page. The most important part of the response is in the "totals" top-level key which includes the total buy price and sell price.</p>

  <h4>CURL Example</h4>
  <pre><code>curl "https://evepraisal.com/a/coyaw.json"</code></pre>

  <pre><code>{
    "created": 1505592961,
    "id": "coyaw",
    "items": [
        {
            "meta": {
                "bpc": false
            },
            "name": "avatar",
            "prices": {
                "all": {
                    "avg": 0,
                    "max": 64840457150.95,
                    "median": 64840457150.95,
                    "min": 64840457150.95,
                    "order_count": 0,
                    "percentile": 64840457150.95,
                    "stddev": 0,
                    "volume": 0
                },
                "buy": {
                    "avg": 0,
                    "max": 64840457150.95,
                    "median": 64840457150.95,
                    "min": 64840457150.95,
                    "order_count": 0,
                    "percentile": 64840457150.95,
                    "stddev": 0,
                    "volume": 0
                },
                "sell": {
                    "avg": 0,
                    "max": 64840457150.95,
                    "median": 64840457150.95,
                    "min": 64840457150.95,
                    "order_count": 0,
                    "percentile": 64840457150.95,
                    "stddev": 0,
                    "volume": 0
                },
                "strategy": "ccp",
                "updated": "2017-09-16T20:12:25.615722552Z"
            },
            "quantity": 1,
            "typeID": 11567,
            "typeName": "Avatar",
            "typeVolume": 10000000
        }
    ],
    "kind": "listing",
    "market_name": "jita",
    "raw": "avatar",
    "totals": {
        "buy": 64840457150.95,
        "sell": 64840457150.95,
        "volume": 10000000
    },
    "unparsed": {}
}
</code></pre>

  <h3>Create Appraisal <span class="badge badge-primary">POST /appraisal.json</span></h3>
  <p>This enpoint creates a new appraisal.</p>

  <h4>CURL Example (without persisting)</h4>
  <pre><code>curl -XPOST "https://evepraisal.com/appraisal.json?market=jita&raw_textarea=avatar&persist=no"</code></pre>

  <pre><code>{
    "appraisal": {
        "created": 1505593417,
        "items": [
            {
                "meta": {
                    "bpc": false
                },
                "name": "avatar",
                "prices": {
                    "all": {
                        "avg": 0,
                        "max": 64840457150.95,
                        "median": 64840457150.95,
                        "min": 64840457150.95,
                        "order_count": 0,
                        "percentile": 64840457150.95,
                        "stddev": 0,
                        "volume": 0
                    },
                    "buy": {
                        "avg": 0,
                        "max": 64840457150.95,
                        "median": 64840457150.95,
                        "min": 64840457150.95,
                        "order_count": 0,
                        "percentile": 64840457150.95,
                        "stddev": 0,
                        "volume": 0
                    },
                    "sell": {
                        "avg": 0,
                        "max": 64840457150.95,
                        "median": 64840457150.95,
                        "min": 64840457150.95,
                        "order_count": 0,
                        "percentile": 64840457150.95,
                        "stddev": 0,
                        "volume": 0
                    },
                    "strategy": "ccp",
                    "updated": "2017-09-16T20:22:26.885313357Z"
                },
                "quantity": 1,
                "typeID": 11567,
                "typeName": "Avatar",
                "typeVolume": 10000000
            }
        ],
        "kind": "listing",
        "market_name": "jita",
        "raw": "avatar",
        "totals": {
            "buy": 64840457150.95,
            "sell": 64840457150.95,
            "volume": 10000000
        },
        "unparsed": {}
    }
}</code></pre>

  <h4>CURL Example (with persisting)</h4>
  <pre><code>curl -XPOST "https://evepraisal.com/appraisal.json?market=jita&raw_textarea=avatar"</code></pre>

  <pre><code>{
    "appraisal": {
        "created": 1505593417,
        "id": "coyfr",
        "items": [
            {
                "meta": {
                    "bpc": false
                },
                "name": "avatar",
                "prices": {
                    "all": {
                        "avg": 0,
                        "max": 64840457150.95,
                        "median": 64840457150.95,
                        "min": 64840457150.95,
                        "order_count": 0,
                        "percentile": 64840457150.95,
                        "stddev": 0,
                        "volume": 0
                    },
                    "buy": {
                        "avg": 0,
                        "max": 64840457150.95,
                        "median": 64840457150.95,
                        "min": 64840457150.95,
                        "order_count": 0,
                        "percentile": 64840457150.95,
                        "stddev": 0,
                        "volume": 0
                    },
                    "sell": {
                        "avg": 0,
                        "max": 64840457150.95,
                        "median": 64840457150.95,
                        "min": 64840457150.95,
                        "order_count": 0,
                        "percentile": 64840457150.95,
                        "stddev": 0,
                        "volume": 0
                    },
                    "strategy": "ccp",
                    "updated": "2017-09-16T20:22:26.885313357Z"
                },
                "quantity": 1,
                "typeID": 11567,
                "typeName": "Avatar",
                "typeVolume": 10000000
            }
        ],
        "kind": "listing",
        "market_name": "jita",
        "raw": "avatar",
        "totals": {
            "buy": 64840457150.95,
            "sell": 64840457150.95,
            "volume": 10000000
        },
        "unparsed": {}
    }
}</code></pre>

  <h4>CURL Example with multipart form-data</h4>
  <pre><code>echo "Avatar
Erebus" > example-appraisal.txt
curl "https://evepraisal.com/appraisal.json?market=jita" -F "uploadappraisal=@example-appraisal.txt"</code></pre>

  <pre><code>{
    "appraisal": {
        "created": 1505593448,
        "id": "coyg5",
        "items": [
            {
                "meta": {
                    "bpc": false
                },
                "name": "Erebus",
                "prices": {
                    "all": {
                        "avg": 0,
                        "max": 73105235239.37,
                        "median": 73105235239.37,
                        "min": 73105235239.37,
                        "order_count": 0,
                        "percentile": 73105235239.37,
                        "stddev": 0,
                        "volume": 0
                    },
                    "buy": {
                        "avg": 0,
                        "max": 73105235239.37,
                        "median": 73105235239.37,
                        "min": 73105235239.37,
                        "order_count": 0,
                        "percentile": 73105235239.37,
                        "stddev": 0,
                        "volume": 0
                    },
                    "sell": {
                        "avg": 0,
                        "max": 73105235239.37,
                        "median": 73105235239.37,
                        "min": 73105235239.37,
                        "order_count": 0,
                        "percentile": 73105235239.37,
                        "stddev": 0,
                        "volume": 0
                    },
                    "strategy": "ccp",
                    "updated": "2017-09-16T20:22:26.885313357Z"
                },
                "quantity": 1,
                "typeID": 671,
                "typeName": "Erebus",
                "typeVolume": 10000000
            },
            {
                "meta": {
                    "bpc": false
                },
                "name": "Avatar",
                "prices": {
                    "all": {
                        "avg": 0,
                        "max": 64840457150.95,
                        "median": 64840457150.95,
                        "min": 64840457150.95,
                        "order_count": 0,
                        "percentile": 64840457150.95,
                        "stddev": 0,
                        "volume": 0
                    },
                    "buy": {
                        "avg": 0,
                        "max": 64840457150.95,
                        "median": 64840457150.95,
                        "min": 64840457150.95,
                        "order_count": 0,
                        "percentile": 64840457150.95,
                        "stddev": 0,
                        "volume": 0
                    },
                    "sell": {
                        "avg": 0,
                        "max": 64840457150.95,
                        "median": 64840457150.95,
                        "min": 64840457150.95,
                        "order_count": 0,
                        "percentile": 64840457150.95,
                        "stddev": 0,
                        "volume": 0
                    },
                    "strategy": "ccp",
                    "updated": "2017-09-16T20:22:26.885313357Z"
                },
                "quantity": 1,
                "typeID": 11567,
                "typeName": "Avatar",
                "typeVolume": 10000000
            }
        ],
        "kind": "listing",
        "market_name": "jita",
        "raw": "Avatar\nErebus\n",
        "totals": {
            "buy": 137945692390.32,
            "sell": 137945692390.32,
            "volume": 20000000
        },
        "unparsed": {}
    }
}</code></pre>
</div>

{{end}}

{{template "_layout.html" .}}