{{define "title"}}Evepraisal - Appraisal Parser Debug {{.Page.Appraisal.ID}} [{{.Page.Appraisal.Kind}}]{{end}}

{{define "content"}}

<div class="row col-lg-12">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a class="nav-link active" data-toggle="tab" href="#tab-parsed-lines" role="tab">Parser Per Line</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab-parsed-lines" role="tabpanel">
      <table class="table table-condensed table-striped">
        <tr class="header">
          <td>#</td>
          <td>parser</td>
          <td></td>
        </tr>
        {{range $line := .Page.Lines}}
        <tr class="{{if not $line.Parsed}}danger{{end}}">
          <td>{{$line.Number}}</td>
          <td>{{$line.Parser}}</td>
          <td>{{$line.Text}}</td>
        </tr>
        {{end}}
      </table>
    </div>
  </div>
</div>

{{end}}
{{template "_layout.html" .}}
