{{define "title"}}Evepraisal - Appraisal Result {{.Page.Appraisal.ID}} [{{.Page.Appraisal.Kind}}]{{end}}

{{define "content"}}
<div class="row">
  <div class="col-lg-4">
    {{template "_paste-panel.html" .}}
  </div>

  <div class="col-lg-8">
    {{ if .Page.Appraisal.Unparsed }}
    <div class="alert alert-warning" role="alert">
      <strong>Bad lines!</strong> <strong>{{ .Page.Appraisal.Unparsed | len }}</strong> of the lines could not be parsed.
    </div>
    {{end}}

    {{if eq .Page.Appraisal.Kind "heuristic"}}
    <div class="alert alert-danger" role="alert">
    <strong>The heuristic parser was used to parse this result.</strong> This means that the format of the data you entered is unknown to Evepraisal and some guess-work was used to bring you the results below. Review closely for accuracy. If you think this is a format worth adding, <a href="https://github.com/evepraisal/go-evepraisal/issues/new?title=Unknown+Format&body=Appraisal+with+the+format:+{{.UI.BaseURLWithoutScheme}}/a/{{.Page.Appraisal.ID}}%0A%0A[Describe+the+format]" target="_blank">submit an issue on github</a>.
    </div>
    {{end}}

    <div class="pull-right">
      <p>
        <a href="{{.Page.Link}}">{{.UI.BaseURLWithoutScheme}}{{.Page.Link}}</a> |
        <a href="{{.Page.Link}}.raw" target="_blank">Raw</a> |
        <a href="{{.Page.Link}}.json" target="_blank">JSON</a>
      </p>
    </div>

    <div>
      <p class="text-left"><strong>{{.Page.Appraisal.Kind}}</strong> priced in <strong>{{.Page.Appraisal.MarketName}}</strong> {{relativetime .Page.Appraisal.CreatedTime}}</p>
    </div>

    <div>
      <h4>
        <span class="nowrap">{{ prettybignumber .Page.Appraisal.Totals.Sell }} <small>estimated sell value</small></span>
        <span class="nowrap">{{ prettybignumber .Page.Appraisal.Totals.Buy }} <small>estimated buy value</small></span>
      </h4>
    </div>

    <table id="results" class="table table-sm table-condensed table-striped results-table">
      <thead>
        <tr class="header">
          <th class="text-center">Qty</th>
          <th>Item</th>
          <th class="text-right"><span class="nowrap">Volume (m<sup>3</sup>)</span></th>
          <th class="text-right"><span class="nowrap">Single (sell)<br>Single (buy)</span></th>
          <th class="text-right"><span class="nowrap">Total (sell)<br>Total (buy)</span></th>
          <th class="text-right"><span class="nowrap">ISK/m3 (sell)</span><br><span class="nowrap">ISK/m3 (buy)</span></th>
        </tr>
      </thead>
      <tbody>
      {{range $i, $item := .Page.Appraisal.Items}}
      {{ if (or $.Page.ShowFull (lt $i 100)) }}
        <tr class="{{if eq $item.TypeID 0}}danger{{else if eq $item.Prices.All.Volume 0}}info{{end}}">
          <td class="numeric-cell text-center" data-sort-value="-{{$item.Quantity}}">{{comma $item.Quantity}}</td>
          <td>
            {{if (and $item.TypeName (lt $i 30))}}
            <a href="/item/{{$item.TypeID}}">
              <img class="pull-left media-object" src="https://image.eveonline.com/Type/{{$item.TypeID}}_32.png" alt="{{$item.TypeName}}">
            </a>
            &nbsp;
            {{end}}
            <a href="/item/{{$item.TypeID}}">
              {{if $item.TypeName}}{{$item.TypeName}}{{else}}{{$item.Name}}{{end}}{{if $item.Extra.BPC}} (Copy)</a>
              <span class="badge badge-default">Runs: {{$item.Extra.BPCRuns}}</span>{{end}}
          </td>
          <td class="numeric-cell text-right" data-sort-value="-{{$item.TypeVolume | printf "%f"}}">{{humanizeVolume $item.TypeVolume }}</td>
          <td class="numeric-cell text-right" data-sort-value="-{{$item.SingleRepresentativePrice | printf "%f"}}">
            {{commaf $item.Prices.Sell.Min}}<br />
            {{commaf $item.Prices.Buy.Max}}</td>
          <td class="numeric-cell text-right" data-sort-value="-{{$item.RepresentativePrice | printf "%f"}}">
            {{commaf $item.SellTotal}}<br />
            {{commaf $item.BuyTotal}}</td>
          <td class="numeric-cell text-right" data-sort-value="-{{$item.SellISKVolume | printf "%f"}}">
            {{commaf $item.SellISKVolume}}<br />
            {{commaf $item.BuyISKVolume}}
          </td>
        </tr>
      {{end}}
      {{end}}
      </tbody>
      <tfoot>
        {{if (and (not $.Page.ShowFull) (ge (len .Page.Appraisal.Items) 100))}}
        <tr>
          <td class="text-center bg-warning text-white" colspan="6">There are too many results to show. <a href="/a/{{.Page.Appraisal.ID}}?full=true">Click here to see all <strong>{{.Page.Appraisal.Items | len }}</strong> results.</a> Warning: The page might be slow.</td>
        </tr>
        {{end}}
        <tr>
          <td></td>
          <td colspan="3" class="text-right">Total Volume:<br/>
    Total Sell Value:<br/>
    Total Buy Value:<br/></td>
          <td class="text-right">{{commaf .Page.Appraisal.Totals.Volume}}<br/>
    {{commaf .Page.Appraisal.Totals.Sell}}<br/>
    {{commaf .Page.Appraisal.Totals.Buy}}
            </td>
          <td></td>
        </tr>
      </tfoot>
    </table>

    <script type="text/javascript">
      window.history.replaceState({}, "", "{{.Page.Link}}");
      $(document).ready(function() {
        $("#results").tablesorter({
          textExtraction : function(node, table, cellIndex){
              n = $(node);
              return n.attr('data-sort-value') || n.text();
          },
          headers: {
             0: { sorter: 'digit', sortInitialOrder: 'desc' },
             2: { sorter: 'digit', sortInitialOrder: 'desc' },
             3: { sorter: 'digit', sortInitialOrder: 'desc' },
             4: { sorter: 'digit', sortInitialOrder: 'desc' },
             5: { sorter: 'digit', sortInitialOrder: 'desc' }
          }
        });
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>
  </div>
</div>
{{end}}
{{template "_layout.html" .}}
