{{define "title"}}Evepraisal - {{.Page.ErrorTitle}}{{end}}
{{define "description"}}Price check Eve Online items from Cargo Scans, Contracts, D-Scan, EFT, Inventory, Asset listing, Loot History, PI, Survey Scanner, Killmails, Wallet TransactionsBlocks, Inventory, Assets{{end}}
{{define "content"}}
<div class="row">
  <div class="col-lg-4">
  	{{template "_paste-panel.html" .}}
  </div>

  <div class="col-lg-8">
    <div class="jumbotron">
	    <h4>{{ .Page.ErrorTitle }}</h4>
	    <p>{{ .Page.ErrorMessage }}</p>
    </div>
  </div>
</div>
{{end}}

{{template "_layout.html" .}}
