{{define "title"}}Evepraisal - Latest Appraisals{{end}}
{{define "description"}}Price check Eve Online items from Cargo Scans, Contracts, D-Scan, EFT, Inventory, Asset listing, Loot History, PI, Survey Scanner, Killmails, Wallet TransactionsBlocks, Inventory, Assets{{end}}
{{define "content"}}
<div class="container">
  <h2>Latest Appraisals</h2>
  <table class="table table-condensed table-sm table-striped">
    <tr class="header">
      <th>ID</th>
      <th>Format</th>
      <th>Location</th>
      <th class="text-right hidden-md hidden-sm hidden-xs">Item Count</th>
      <th colspan="2" class="text-center hidden-md hidden-sm hidden-xs">Created</th>
      <th>Sell Value</th>
      <th>Buy Value</th>
    </tr>
    {{range $appraisal := .Page.Appraisals}}
    <tr>
      <td><a href="/a/{{$appraisal.ID}}">{{$appraisal.ID}}</a></td>
      <td>{{$appraisal.Kind}}</td>
      <td><span class="badge badge-primary">{{$appraisal.MarketName}}</span>{{if $appraisal.UsingPercentage}} <span class="badge badge-warning">{{$appraisal.PricePercentage}}%</span>{{end}}</td>
      <td class="text-right hidden-md hidden-sm hidden-xs">{{$appraisal.Items | len | commai}}</td>
      <td class="text-right hidden-md hidden-sm hidden-xs">{{relativetime $appraisal.CreatedTime}}</td>
      <td class="text-left hidden-md hidden-sm hidden-xs">{{timefmt $appraisal.CreatedTime}}</td>
      <td class="text-left">{{prettybignumber $appraisal.Totals.Sell}} ISK</td>
      <td class="text-left">{{prettybignumber $appraisal.Totals.Buy}} ISK</td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}
{{template "_layout.html" .}}
