{{define "title"}}Evepraisal - Price check Eve Online items from Cargo Scans, Contracts, D-Scan, EFT, Inventory, Asset listing, Loot History, PI, Survey Scanner, Killmails, Wallet TransactionsBlocks, Inventory, Assets{{end}}

{{define "content"}}
<div class="row">
  <div class="col-lg-4">
    {{template "_paste-panel.html" .}}
  </div>

  <div class="col-lg-8">
    <div style="text-align:right"><h5>{{comma .Page.TotalAppraisalCount}} appraisals performed so far!</h5></div>
      <h4>What is this?</h4>
      <p>
        Evepraisal is a tool for quickly getting bulk estimates of items from Eve Online.
      </p>
      <h4>How does this work?</h4>
      <p>
         Find something in Eve Online that you want to price check like a contract, cargo scan result, etc. Press <strong>CTRL + A, CTRL + C</strong>, then click on the lovely box to the left or above this and press <strong>CTRL + V</strong>. Submit and you should see a price breakdown of all the items.
      </p>

      <h4>What all can I paste in there?</h4>
      <p>At first, this started as a simple cargo scan estimator but over time more formats have been added to the parser so you can use it as a more general price checker. Currently the following formats are supported:</p>
      <span class="label label-default">Inventory</span>
      <span class="label label-default">Cargo Scanner</span>
      <span class="label label-default">D-Scan</span>
      <span class="label label-default">Bill of Materials</span>
      <span class="label label-default">Loot History</span>
      <span class="label label-default">Planetary Interaction</span>
      <span class="label label-default">Survey Scanner</span>
      <span class="label label-default">View Contents</span>
      <span class="label label-default">Contracts</span>
      <span class="label label-default">EFT Blocks</span>
      <span class="label label-default">In-game Killmail</span>
      <span class="label label-default">Wallet Transactions</span>
      <span class="label label-default">Asset listings (named ships don't work)</span>
      <span class="label label-default">Manual Entry. Example: "94812 Tritanium"</span>
      </ul>
    </div>
  </div>
</div>
{{end}}
{{template "_layout.html" .}}
