{{define "title"}}Evepraisal{{end}}
{{define "content"}}
<div class="row">
  {{template "_paste-panel.html"}}

  <div class="col-lg-8">
    {{if not .Appraisal}}

      <div style="text-align:right"><h5>Over {{.TotalAppraisalCount}} Appraisals Performed</h5></div>
      <h4>What do I do?</h4>
      <p>
         Find something in Eve Online that you want to price check like a contract, cargo scan result, etc. Press <strong>CTRL + A, CTRL + C</strong>, then click on the lovely box to the left or above this and press <strong>CTRL + V</strong>. Submit and you should see a price breakdown of all the items.
      </p>

      <h4>What all can I paste in there?</h4>
      <p>At first, this started as a simple cargo scan estimator but over time more formats have been added to the parser so you can use it as a more general price checker. Currently the following formats are supported:</p>
      <ul>
        <li>Inventory</li>
        <li>Cargo Scanner</li>
        <li>D-Scan</li>
        <li>Bill of Materials</li>
        <li>Loot History</li>
        <li>Planetary Interaction</li>
        <li>Survey Scanner</li>
        <li>View Contents</li>
        <li>Contracts</li>
        <li>EFT Blocks</li>
        <li>In-game Killmail</li>
        <li>Wallet Transactions</li>
        <li>Asset listings (named ships don't work)</li>
        <li>Manual Entry. Example: "94812 Tritanium"</li>
      </ul>
    </div>

    {{else}}
      {{template "_appraisal-panel.html" .Appraisal}}
    {{end}}

  </div>
</div>
{{end}}
{{template "_layout.html" .}}
