{{define "appraisal-panel"}}
{{ if .Unparsed }}
<div class="alert alert-warning" role="alert">
  <strong>Bad lines!</strong> <strong>{{ .Unparsed | len }}</strong> of the lines could not be parsed.
</div>
{{end}}

<div>
  <p class="text-left">Result <a href="/a/{{.ID}}"><strong>{{.ID}}</strong></a> ({{.Kind}}) created {{relativetime .CreatedTime}}. <a href="/a/{{.ID}}.raw" target="_blank">View Raw</a></p>
</div>

<div>
  <h4>
    <span class="nowrap">{{ prettybignumber .Totals.Sell }} <small>estimated sell value</small></span>
    <span class="nowrap">{{ prettybignumber .Totals.Buy }} <small>estimated buy value</small></span>
  </h4>
</div>

<table id="results" class="table table-sm table-condensed table-striped results-table">
  <thead>
    <tr class="header">
      <th class="text-center">Qty</th>
      <th>Item</th>
      <th class="text-right">Volume</th>
      <th class="text-right">Single (sell)<br>Single (buy)</th>
      <th class="text-right">Total (sell)<br>Total (buy)</th>
      <th class="text-right">ISK/m3 (sell)<br>ISK/m3 (buy)</th>
    </tr>
  </thead>
  <tbody>
  {{range $item := .Items}}
    <tr class="{{if eq $item.TypeID 0}}danger{{else if eq $item.Prices.All.Volume 0}}info{{end}}">
      <td class="numeric-cell text-center" data-sort-value="-{{$item.Quantity}}">{{comma $item.Quantity}}</td>
      <td>
        {{if $item.TypeName}}
          <img class="pull-left media-object" src="https://image.eveonline.com/Type/{{$item.TypeID}}_32.png" alt="{{$item.TypeName}}">
        {{end}}
        &nbsp;
        {{if $item.TypeName}}{{$item.TypeName}}{{else}}{{$item.Name}}{{end}}</td>
      <td class="numeric-cell text-right" >{{$item.TypeVolume}}</td>
      <td class="numeric-cell text-right" data-sort-value="-{{$item.SingleRepresentativePrice | printf "%f"}}">
        {{commaf $item.Prices.Sell.Min}}<br />
        {{commaf $item.Prices.Buy.Max}}</td>
      <td class="numeric-cell text-right" data-sort-value="-{{$item.RepresentativePrice | printf "%f"}}">
        {{commaf $item.SellTotal}}<br />
        {{commaf $item.BuyTotal}}</td>
      <td class="numeric-cell text-right" data-sort-value="-{{$item.SellISKVolume | printf "%f"}}">
        {{commaf $item.SellISKVolume}}<br />
        {{commaf $item.BuyISKVolume}}
      </td>
    </tr>
  {{end}}
  </tbody>
</table>

<script type="text/javascript">
  window.history.pushState({}, "", "/a/{{.ID}}");
  $(document).ready(function() {
    $("#results").tablesorter({
      textExtraction : function(node, table, cellIndex){
          n = $(node);
          return n.attr('data-sort-value') || n.text();
      },
      headers: {
         0: { sorter: 'digit', sortInitialOrder: 'desc' },
         2: { sorter: 'digit', sortInitialOrder: 'desc' },
         3: { sorter: 'digit', sortInitialOrder: 'desc' },
         4: { sorter: 'digit', sortInitialOrder: 'desc' },
         5: { sorter: 'digit', sortInitialOrder: 'desc' }
      }
    });
  });
</script>
{{end}}