{{define "paste-panel"}}
<div class="col-lg-4 form-group">
  <h4>Quick Estimate</h4>
  <form action="/" method="POST">
    <div class="well well-small">
	    <textarea class="form-control" name="body" rows="10" placeholder="paste stuff to evaluate here. protip: ctrl+a, ctrl+c, ctrl+v"></textarea>
		  <input type="submit" class="btn btn-primary" href="submit" role="button" value="Submit &raquo;" />
		  <button type="reset" class="btn">Reset</button>
		  <div class="pull-right input-append">
        <select id="market">
          <option value="30000142">Jita</option>
          <option value="30002187">Amarr</option>
          <option value="30002659">Dodixie</option>
          <option value="30002510">Rens</option>
          <option value="30002053">Hek</option>
          <option value="-1">Universe</option>
        </select>
      </div>
    </div>
  </form>
</div>
{{end}}