{{template "header"}}
<div class="col-lg-12">
  <h2>Latest Appraisals</h2>
  <table class="table table-condensed table-striped">
    <tr class="header">
      <th>ID</th>
      <th>Format</th>
      <th>Location</th>
      <th colspan="2" class="text-center">Created</th>
      <th colspan="2" class="text-center">Sell Value</th>
      <th colspan="2" class="text-center">Buy Value</th>
    </tr>
    {{range $appraisal := .Appraisals}}
    <tr>
      <td><a href="/a/{{$appraisal.ID}}">{{$appraisal.ID}}</a></td>
      <td>{{$appraisal.Kind}}</td>
      <td>{{$appraisal.MarketName}}</td>
      <td class="text-right">{{relativetime $appraisal.CreatedTime}}</td>
      <td class="text-left">{{timefmt $appraisal.CreatedTime}}</td>
      <td class="text-right">{{commaf $appraisal.Totals.Sell}}</td>
      <td class="text-left">{{prettybignumber $appraisal.Totals.Sell}} ISK</td>
      <td class="text-right">{{commaf $appraisal.Totals.Buy}}</td>
      <td class="text-left">{{prettybignumber $appraisal.Totals.Buy}} ISK</td>
    </tr>
    {{end}}
  </table>
</div>
{{template "footer"}}
