{{template "header"}}
<div class="row">
  {{template "paste-panel"}}

  <div class="col-lg-8">
    {{if not .Appraisal}}
    <p>Welcome to what will be the new evepraisal! There is some serious construction going on so don't expect this to be super stable yet. Follow along with the progress here: <a href="https://github.com/evepraisal/go-evepraisal" target="_blank">https://github.com/evepraisal/go-evepraisal</a></p>
    {{else}}
      {{template "appraisal-panel" .Appraisal}}
    {{end}}

  </div>
</div>

{{template "footer"}}
