{{template "header"}}
<div class="row">
  {{template "paste-panel"}}

  <div class="col-lg-8">
    {{if not .Appraisal}}
    <p>This is some text that will be replaced with results</p>
    {{else}}
    <h4>
      <span class="nowrap">{{ prettybignumber .Appraisal.Totals.Sell }} <small>estimated sell value</small></span>
      <span class="nowrap">{{ prettybignumber .Appraisal.Totals.Buy }} <small>estimated buy value</small></span>
    </h4>
    <table class="table table-condensed">
      <tr class="header">
        <th>Qty</th>
        <th>Item</th>
        <th>Single (sell)<br>Single (buy)</th>
        <th>Total (sell)<br>Total (buy)</th>
      </tr>
      {{range $item := .Appraisal.Items}}
      <tr>
        <td>{{comma $item.Quantity}}</td>
        <td>{{if $item.TypeName}}{{$item.TypeName}}{{else}}{{$item.Name}} {{end}}</td>
        <td>{{commaf $item.Prices.Sell.Min}}<br>{{commaf $item.Prices.Buy.Max}}</td>
        <td>{{commaf $item.SellTotal}}<br>{{commaf $item.BuyTotal}}</td>
      </tr>
      {{end}}
    </table>

    <pre>{{spew .Appraisal}}</pre>
    {{end}}

  </div>
</div>
{{template "footer"}}
