.results-table th {
  cursor: pointer;
  padding: 0px;
}
.results-table td {
  padding: 0px;
}

.numeric-cell td {
  font-family: monospace, monospace;
}

.tt-dropdown-menu {
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	background-color: rgb(40, 40, 40);
    padding: 3px 3px;
    line-height: 24px;
    color: #fff;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 1px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}